<h1 class="reload-page">
  <%= @room.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'rooms' %>
  </div>

  <div class="col">
    <div class="chat" data-channel-subscribe="room" data-room-id="<%= @room.id %>">
      <% @room_messages.each do |room_message| %>
        <div class="chat-message-container pb-2">
          <div class="row no-gutters">
            <div class="col-auto text-center">
              <%# <img src="<%= room_message.user.avatar %>
              <%= image_tag(room_message.user.avatar, class: "ui-w-100-forced rounded-circle mr-3", style: "width: 60px; height: 60px") %>
            </div>

            <div class="col" style="background: rgba(0, 0, 0, 0.1); border-radius: 10px;">
              <div class="message-content">
                <p class="mb-1 pt-1 ml-2">
                  <%= room_message.message %>
                </p>

                <div class="text-right pr-1">
                  <small>
                    <%= room_message.created_at %>
                  </small>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <%= simple_form_for @room_message, :url => url_for(:controller => 'room_messages'), :method => 'post', remote: true do |form| %>
      <div class="input-group mb-3 mt-3">
        <%= form.input :message, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'chat-input'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-primary chat-input' %>
        </div>
      </div>

      <%= form.input :room_id, as: :hidden %>
    <% end %>
  </div>
</div>

<div class="d-none" data-role="message-template">
  <div class="chat-message-container" style="background: rgba(0, 0, 0, 0.1); border-radius: 10px;">
    <div class="row no-gutters">
      <div class="col-auto text-center">
        <img src="" class="avatar" alt="" data-role="user-avatar">
      </div>

      <div class="col">
        <div class="message-content">
          <p class="mb-1 pt-1 ml-2" data-role="message-text"></p>

          <div class="text-right pr-1">
            <small data-role="message-date"></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
